/************** GENERAL **************/

* {
	box-sizing: border-box;
}

html {
	display: block;
}

body {
	font-family: "Open Sans", Helvetica;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    background-color: #d8403b;
    background-size: cover;
}

#main-container {
  max-width: 1200px;
  background-color: purple;
}

img {
	width: 100%;
	background-color: transparent;
}

.container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
}

.center {
	margin: 0 auto;
}





/************** SCORE ICONS SECTION **************/

#current-user-score {
  background-color: #0f0;
}

#top-scores {
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.user-icon-container {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

#top-scores .user-icon-container {
    margin: 0 10px;
}
